https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

# Relational Databases

- First, download data from github
https://github.com/jpwhite3/northwind-SQLite3

Attention: we only need to choose the `Northwind_small.sqlite` file

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Northwind_small.sqlite')

In [9]:
table_names = engine.table_names()

In [10]:
table_names

['Category',
 'Customer',
 'CustomerCustomerDemo',
 'CustomerDemographic',
 'Employee',
 'EmployeeTerritory',
 'Order',
 'OrderDetail',
 'Product',
 'Region',
 'Shipper',
 'Supplier',
 'Territory']

## Querying Relational Databases

In [19]:
con = engine.connect()
rs = con.execute("SELECT * FROM OrderDetail")

In [20]:
import pandas as pd
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

In [21]:
df[:3]

         Id  OrderId  ProductId  UnitPrice  Quantity  Discount
0  10248/11    10248         11       14.0        12       0.0
1  10248/42    10248         42        9.8        10       0.0
2  10248/72    10248         72       34.8         5       0.0

#### Using the context manager with

In [26]:
with engine.connect() as con:
    rs = con.execute("SELECT * FROM OrderDetail")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

## Querying relational databases with pandas

In [23]:
df = pd.read_sql_query("SELECT * FROM OrderDetail", engine)

In [25]:
df.head()

         Id  OrderId  ProductId  UnitPrice  Quantity  Discount
0  10248/11    10248         11       14.0        12       0.0
1  10248/42    10248         42        9.8        10       0.0
2  10248/72    10248         72       34.8         5       0.0
3  10249/14    10249         14       18.6         9       0.0
4  10249/51    10249         51       42.4        40       0.0